body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:592px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:900px;
}
#u2 {
  position:absolute;
  left:518px;
  top:90px;
  width:900px;
  height:900px;
  opacity:0.5;
}
#u3 {
  position:absolute;
  left:2px;
  top:442px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:840px;
}
#u4 {
  position:absolute;
  left:548px;
  top:120px;
  width:840px;
  height:840px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  opacity:0.5;
}
#u5 {
  position:absolute;
  left:2px;
  top:412px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u7 {
  position:absolute;
  left:2px;
  top:592px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u9 {
  position:absolute;
  left:2px;
  top:592px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u11 {
  position:absolute;
  left:2px;
  top:592px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:52px;
}
#u12 {
  position:absolute;
  left:278px;
  top:1095px;
  width:1364px;
  height:52px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(43, 163, 233, 1) 0%, rgba(43, 163, 233, 1) 0%, rgba(46, 65, 124, 1) 100%, rgba(46, 65, 124, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(43, 163, 233, 1) 0%, rgba(43, 163, 233, 1) 0%, rgba(46, 65, 124, 1) 100%, rgba(46, 65, 124, 1) 100%);
  background:linear-gradient(180deg, rgba(43, 163, 233, 1) 0%, rgba(43, 163, 233, 1) 0%, rgba(46, 65, 124, 1) 100%, rgba(46, 65, 124, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:285px;
  top:1101px;
  width:13px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:285px;
  top:1028px;
  width:281px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18 {
  position:absolute;
  left:472px;
  top:1028px;
  width:62px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:550px;
}
#u20 {
  position:absolute;
  left:692px;
  top:271px;
  width:550px;
  height:550px;
}
#u21 {
  position:absolute;
  left:2px;
  top:267px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
